################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/MovieApiTest/bin/Debug/netcoreapp2.1
/MovieApiTest/obj
